/* navbar responsive dropdown animation */
@media only screen and (max-width: 768px) {
  .drop-down-class {
    height: 288px !important;
    animation: 0.5s ease-in-out;
    transition: 0.5s;
    margin-top: var(--space-24);
  }
  .drop-up-class {
    height: 0 !important;
    animation: 0.3s ease-in-out;
    transition: 0.3s;
    margin-top: 0 !important;
  }
}
/* -------------- */
