/* navbar responsive dropdown animation */
@media only screen and (max-width: 768px) {
  .drop-down-class {
    height: 300px !important;
    animation: 0.7s ease-in-out;
    transition: 0.7s;
    margin-top: var(--space-24);
  }
}
/* -------------- */
