/* Home page */

/* Hero section */
.hero-section {
  position: relative;
  background-image: url(../images/hero/hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}
.hero-section .hero-background-image-slide {
  width: 100%;
  height: 100%;
}
.hero-section .hero-background-image-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section .hero {
  padding: 0 var(--space-32);
  padding-top: 150px;
  padding-bottom: var(--space-64);
  background: var(--color-card-bg);
  text-align: center;
  width: 100%;
  /* position: static; */
  top: 0;
  z-index: 555;
  height: fit-content;
  background: transparent;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: var(--space-96);
}
.hero-section .hero .container-articles {
  width: 57%;
}
.hero-section .hero .container-articles p {
  color: var(--color-text-white);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--space-20);
}
.hero-section .hero .container-articles span {
  color: var(--color-text-gray);
}
.hero-section .hero .container-articles .container-button {
  margin-top: var(--space-64);
  display: flex;
  justify-content: center;
  gap: var(--space-20);
  width: 100%;
}
.hero-section .hero .container-articles .container-button .get-started {
  border: none;
  border-radius: var(--radius-button);
  padding: var(--space-12) var(--space-16);
  background-color: var(--color-purple-primary);
  color: var(--color-text-white);
  font-weight: var(--font-weight-medium);
  font-size: 14.6px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-8);
}
.hero-section .hero .container-articles .container-button .watch-demo {
  border: none;
  border-radius: var(--radius-button);
  padding: var(--space-12) var(--space-16);
  background-color: rgb(255, 255, 255, 0.2);
  color: var(--color-text-white);
  font-weight: var(--font-weight-medium);
  font-size: 14.6px;
  border: 1px solid var(--color-border);
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-8);
}
.hero-section .hero .container-experience {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--color-border);
  padding-top: var(--space-64);
  width: 65%;
}
.hero-section .hero .container-experience span {
  color: var(--color-purple-primary);
  margin-bottom: var(--space-64);
}
.hero-section .hero .container-experience p {
  margin-top: var(--space-12);
}
