@import url("./variables.css");

/* 
    Page responsiveness
 */

@media only screen and (max-width: 1145px) {
  /* responsive navbar in different screens */
  .navbar .container-navbar-padding {
    gap: var(--space-48);
  }
}

@media only screen and (max-width: 1105px) {
  /* responsive navbar in different screens */
  .navbar .container-navbar-padding {
    padding: var(--space-8) var(--space-64);
    gap: var(--space-96);
  }

  /* Breadcrumbs */
  .container-breadcrumbs__ .container-breadcrumbs-padding__ {
    width: 100%;
    padding: var(--space-12) var(--space-64);
  }

  /* portfolio */
  .container-portfolio .container-portfolio-padding {
    width: 100%;
    padding: var(--space-96) var(--space-64);
  }

  /* responsive navbar in different screens */
  .pages-footer .container-footer-padding {
    padding: var(--space-32) var(--space-64);
  }
}

@media only screen and (max-width: 1026px) {
  /* responsive navbar in different screens */
  .navbar .container-navbar-padding {
    padding: var(--space-8) var(--space-64);
    gap: var(--space-64);
  }
}

@media only screen and (max-width: 994px) {
  /* responsive navbar in different screens */
  .navbar .container-navbar-padding {
    padding: var(--space-8) var(--space-64);
    gap: var(--space-28);
  }

  /* footer */
  .navbar .container-navbar-padding .container-ul-list-btn {
    gap: var(--space-28);
  }
}

@media only screen and (max-width: 930px) {
  /* footer */
  .pages-footer .container-footer-padding .top-footer-container {
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-28);
  }
  .pages-footer .container-footer-padding .container-footer-middle-container {
    justify-content: flex-start;
    gap: var(--space-96);
  }
  .pages-footer .container-newsletter .container-newsletter-form {
    margin-top: var(--space-12);
    width: 55%;
  }
}

@media only screen and (max-width: 911px) {
  /* responsive footer in different screens */
  .pages-footer .container-footer-padding .container-footer-middle-container {
    flex: 1.5;
  }
}

@media only screen and (max-width: 886px) {
  /* responsive navbar in different screens */
  .navbar .container-navbar-padding {
    padding: var(--space-8) var(--space-48);
    gap: var(--space-28);
  }

  /* Breadcrumbs */
  .container-breadcrumbs__ .container-breadcrumbs-padding__ {
    width: 100%;
    padding: var(--space-12) var(--space-48);
  }

  /* portfolio */
  .container-portfolio .container-portfolio-padding {
    width: 100%;
    padding: var(--space-96) var(--space-48);
  }

  /* responsive footer in different screens */
  .pages-footer .container-footer-padding {
    padding: var(--space-32) var(--space-48);
  }
  .pages-footer .container-newsletter .container-newsletter-form {
    margin-top: var(--space-12);
    width: 55%;
  }
}

@media only screen and (max-width: 853px) {
  /* responsive navbar in different screens */
  .navbar .container-navbar-padding {
    padding: var(--space-8) var(--space-16);
    gap: var(--space-16);
  }

  /* Breadcrumbs */
  .container-breadcrumbs__ .container-breadcrumbs-padding__ {
    width: 100%;
    padding: var(--space-12) var(--space-16);
  }

  /* portfolio */
  .container-portfolio .container-portfolio-padding {
    width: 100%;
    padding: var(--space-96) var(--space-16);
  }
  .container-portfolio .container-portfolio-padding header p {
    width: 100%;
  }
  .container-portfolio .container-portfolio-padding .portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: var(--space-24); */
  }
}

@media only screen and (min-width: 769px) {
  /* responsive navbar in different screens */
  .navbar
    .container-navbar-padding
    .navbar-container-logo
    .container-mobile-navbar-dropdown {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /* responsive navbar in different screens */
  .svg-display {
    display: block !important;
  }
  .svg-hidden {
    display: none;
  }
  /* svg responsive display */

  .navbar .container-navbar-padding {
    padding: var(--space-12) var(--space-12);
    flex-direction: column;
    gap: 0;
  }
  .navbar .container-navbar-padding .navbar-container-logo {
    height: auto;
    flex: none;
    text-align: center;
    width: 100%;
  }
  .navbar .container-navbar-padding .container-ul-list-btn {
    display: flex;
    gap: var(--space-8);
    flex-direction: column;
    flex: none;
    width: 100%;
    align-items: stretch;
    height: 0;
    overflow: hidden;
  }
  .navbar .container-navbar-padding .container-ul-list-btn .container-ul ul {
    gap: var(--space-4);
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .navbar .container-navbar-padding .container-ul-list-btn .container-ul ul li {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar
    .container-navbar-padding
    .container-ul-list-btn
    .container-ul
    ul
    li
    a {
    display: block;
    width: 100%;
    padding: var(--space-8) 0;
  }
  .navbar
    .container-navbar-padding
    .container-ul-list-btn
    .container-ul
    ul
    li
    a:hover {
    color: var(--color-text-white);
    background-color: var(--color-card-bg);
    padding: var(--space-8) var(--space-8);
    border-radius: 4px;
  }
  .navbar
    .container-navbar-padding
    .container-ul-list-btn
    .container-navbar-btn {
    width: 100%;
  }
  .navbar
    .container-navbar-padding
    .container-ul-list-btn
    .container-navbar-btn
    button {
    width: 100%;
  }

  /* BreadCrumbs */
  .container-breadcrumbs__ {
    margin-top: 68px;
  }

  /* responsive navbar in different screens */
  .pages-footer .container-footer-padding {
    padding: var(--space-12) var(--space-12);
  }
  .pages-footer .footer-container-bottom {
    flex-direction: column;
  }

  /* Page footer */
  .pages-footer .container-newsletter .container-newsletter-form {
    margin-top: var(--space-12);
    width: 75%;
  }

  /* responsive home page hero section */
  .hero-section {
    height: 100vh;
  }
  .hero-section .hero {
    height: 100%;
    padding-left: var(--space-12);
    padding-right: var(--space-12);
    padding-bottom: var(--space-32);
    padding-top: 200px;
    overflow: hidden;
  }
  .hero-section .hero .container-articles {
    width: 100%;
  }
  .hero-section .hero .container-experience {
    width: 100%;
  }
  .hero-section .hero .container-experience p {
    font-size: 11px;
  }
}

@media only screen and (max-width: 589px) {
  /* portfolio */
  .container-portfolio .container-portfolio-padding .portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: var(--space-24); */
  }

  /* Page footer */
  .pages-footer .container-newsletter .container-newsletter-form {
    margin-top: var(--space-12);
    width: 95%;
  }
}
