/* 
    Shop page
 */

.container-shop-page {
  width: 100w;
  height: auto;
}
.container-shop-page .container-shop-page-padding {
  width: 100%;
}
.container-shop-page .container-shop-page-padding .container-shop-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--space-32);
  margin-top: var(--space-64);
}
.container-shop-page
  .container-shop-page-padding
  .container-shop-items
  .container-shop-table {
  max-width: 699px;
  background-color: var(--color-card-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-card);
  padding: var(--space-32);
  height: fit-content;
}
.container-shop-page
  .container-shop-page-padding
  .container-shop-items
  .container-shop-table
  .container-table {
  width: 100%;

  overflow-x: scroll;
}
.container-shop-page
  .container-shop-page-padding
  .container-shop-items
  .container-table
  table {
  width: 100%;
  border-collapse: collapse;
}
.container-shop-page
  .container-shop-page-padding
  .container-shop-items
  .container-table
  table
  thead {
  color: var(--color-text-gray);
  font-weight: 300;
}
.container-shop-page .table-data {
  border-top: 1px solid var(--color-border);
}
.container-shop-page .table-data button {
  background-color: var(--color-purple-primary);
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--color-text-white);
  border-radius: 7px;
  height: fit-content;
}
.container-shop-page .table-data .audio {
  background-color: var(--color-border);
  width: 110px;
  height: 35px;
  border-radius: 20px;
}
.container-shop-page th,
.container-shop-page td {
  padding: 16px 11px;
}
.container-shop-page .container-shop-page-padding .container-cart-items {
  background-color: var(--color-card-bg);
  min-width: 296px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-card);
  padding: var(--space-24);
  min-height: 260px;
  height: max-content;
}
.container-shop-page
  .container-shop-page-padding
  .container-cart-items
  .container-cart-items-main {
  width: 100%;
  height: 100%;
  text-align: center;
  place-content: center;
  margin-top: 30%;
}
.container-shop-page
  .container-shop-page-padding
  .container-cart-items
  .container-cart-items-main
  .container-no-cart {
  text-align: center;
  place-content: center;
  color: white;
  height: 100%;
}
